.main {
  &__header {
    width: 100%;
    background-color: #4e8127;
    padding: 88px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #ffffff;
  }
}
