.about {
  &__container {
  }

  &__head {
    padding: 64px 70px;
    background-color: #4E8127;
  }

  &__head-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
  }

  &__head-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
  }

  &__wrapper {
    padding: 112px 64px;
    @media (max-width: 767.98px) {
      padding: 112px 10px;
    }
  }

  &__description {
  }

  &__description-head {
    text-align: center;
  }

  &__description-title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
  }

  &__description-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #000000;
  }

  &__description-column {
    margin-top: 80px;
  }

  &__history {
    background-color: #4E8127;
  }

  &__history-elements {
  }
  &__history-head {
    margin: 80px 0px;
    display: flex;
    justify-content: center;
  }
  &__history-text {
    width: 616px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
  }

  &__history-img {
    text-align: center;
  }

  &__quality-items {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__quality-elements {
    width: 50%;
    @media (max-width: 767.98px) {
      width: 100%;
    }
    margin-bottom: 64px;
  }

  &__quality-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    @media (max-width: 767.98px) {
      font-size: 20px;
    }
  }

  &__quality-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    @media (max-width: 767.98px) {
      font-size: 14px;
    }
  }

  &__reviews {
    background-color: #3f3f3f;
  }

  &__reviews-wrapper {
    margin-top: 80px;
    display: flex;
    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  &__reviews-card {
    text-align: center;
  }

  &__work {
  }

  &__work-wrapper {
    display: flex;
    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  &__work-left {
    width: 50%;
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }

  &__work-right {
    width: 50%;
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.description {
  &__column {
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: center;
    }
    display: flex;
    justify-content: space-between;
  }

  &__column-element {
    width: 350px;
    text-align: center;
    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }

  &__column-img {
    img {
      height: auto;
    }
  }

  &__column-title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    margin: 24px 0px;
    @media (max-width: 343px) {
      font-size: 22px;
    }
  }

  &__column-subtitle {
    padding: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    @media (max-width: 343px) {
      font-size: 14px;
    }
  }
}

.card {
  &__reviews {
    width: 33.33333%;
    @media (max-width: 767.98px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__reviews-img {
  }

  &__reviews-title {
    margin: 24px 0px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
  }

  &__reviews-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
}

.left {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    color: #000000;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin: 32px 0px;
  }

  &__items {
  }

  &__items-list {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        margin-left: 10px;
      }

      &:last-child {
        margin: 0px;
      }
    }
  }
}




.button.active__button{
	background-color:#4E8127;
	color: #ffffff;
  cursor:pointer;
  &:hover{
    background-color:#83af61;
  }
}

.button.disabled__button{
  cursor:context-menu  ;
	background-color:#707070;	
	color: #303030;
}