.main {
  &__container {
  }
}

.account {
  display: flex;
  margin-top: 40px;
  @media (max-width: 556px) {
    display: block;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
    padding-bottom: 40px;
    @media (max-width: 556px) {
      flex: unset;
    }
  }

  &__name {
    max-width: 40rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  &__email {
    max-width: 40rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  &__phone {
    max-width: 40rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  &__address {
    max-width: 40rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__sidebar {
    display: flex;
    justify-content: flex-end;
    margin-left: 2.4rem;
  }
}

.input {
  &__row-account {
    display: flex;
    width: 100%;
    @media (max-width: 556px) {
      flex-direction: column;
    }
  }
  &__row-item {
    margin-right: 2.4rem;
    flex: 1 0 auto;
    &:last-child {
      margin: 0;
    }
    @media (max-width: 556px) {
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__row-wrapper {
  }
  &__row-change {
    a {
      color: black;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #88c05d;
      }
    }
  }
  &__label {
  }
  &__body {
    input {
      padding: 1.3rem 5.2rem 1.3rem 1.6rem;
      border: 1px solid rgb(141, 141, 141);
      border-radius: 5px;
      font-size: 14px;
      width: 100%;
      font-family: "Roboto";

      &:focus {
        border: 1px solid black;
      }
    }
  }
}
.flex {
  display: flex;
  justify-content: center;
}

.input__row-change {
  margin-top: 10px;
}

.address {
  display: flex;
  align-items: center;
  margin-top: 20px;
  @media (max-width: 374px) {
    flex-direction: column;
  }
  &__list {
    margin-right: 10px;
    @media (max-width: 374px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
    }
  }

  &__close {
    font-size: 24px;
    cursor: pointer;
  }
}

.account__error {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

.account__error-title {
  font-size: 30px;
}

.account__error-subtitle {
  margin-top: 15px;
  font-size: 20px;
}
