.main {
  &__catalog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 80px 0px;
  }

  &__catalog-title {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    color: #000000;
  }

  &__catalog-filters {
    span{
      background-color: #4E8127;
      padding: 12px 24px;
      color: #fff;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover{
        background-color: #87af68;
      }
    }
  }

  &__catalog-cards{
    display: flex;
    flex-wrap: wrap;
  }
}
