.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  transition: opacity 0.3s ease-in-out;
  &__container {
    display: flex;
    justify-content: space-between;
    min-height: 73px;
    align-items: center;
  }

  &__left {
    height: 73px;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      width: 100%;
      justify-content: start;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 30;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  &__logo {
    font-size: 30px;
    font-weight: 700;
  }

  &__filters {
    display: flex;
    align-items: center;

    p {
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
      }
    }
    svg {
      margin: 0px 12px;
      path {
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  &__right {
    height: 100%;
  }

  &__menu {
  }

  &__verification {
    display: flex;
  }

  &__verification-reg {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000000;

      border: 1px solid #4e8127;
      padding: 8px 20px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #d9ffbb;
      }
    }
  }

  &__verification-login {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;

      padding: 8px 20px;
      border-radius: 4px;
      background-color: #4e8127;

      transition: background-color 0.3s ease;
      &:hover {
        background-color: #8cb170;
      }
    }
    margin: 0px 16px;
  }

  &__basket {
    img {
      display: block;
    }
  }
}
.header__body-wrapper {
  display: flex;
  align-items: center;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 882px) {
    align-items: start;
  }
  @media (max-width: 590px) {
    flex-direction: column;
  }
}
.menu {
  @media (max-width: 882px) {
    width: 50%;
  }
  @media (max-width: 590px) {
    width: 100%;
  }
  &__list {
    display: flex;
    @media (max-width: 882px) {
      flex-direction: column;
    }
    li {
      @media (max-width: 882px) {
        padding: 20px;
        border-top: 1px solid black;
      }
      margin-right: 32px;
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        transition: color 0.3s ease;
        @media (max-width: 882px) {
          font-size: 20px;
        }
        &:hover {
          color: #4e8127;
        }
      }
    }
  }
}

.modal {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
  }

  &__list {
  }

  &__list-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    label {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      height: 40px;
      padding-left: 12px;
      border: 1px solid black;
      transition: box-shadow 0.3s ease-in-out;
      &:hover {
        box-shadow: 12px -2px 25px -7px rgba(34, 60, 80, 0.6);
      }
    }

    button {
      width: 100%;
      height: 40px;

      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;
      background-color: #4e8127;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #89aa70;
      }
    }
  }

  &__warning {
    word-wrap: break-word;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      a {
        color: #4e8127;
        text-decoration: underline;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: #4e8127;
        }
      }
    }
  }
}
.header__left:hover .header__wrapper {
  background-color: #4e8127;
}
.header__left:hover .header__logo {
  color: #ffffff;
}
.header__left:hover .header__filters svg path {
  fill: #ffffff;
}
.header__filters-link {
  transition: all 0.3s ease-in-out;
}
.header__logo {
  transition: all 0.3s ease-in-out;
}
.header__left:hover .header__filters .header__filters-link {
  color: #ffffff;
}
.header__left:hover .menu__drop {
  left: 0;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.menu {
  &__drop {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    left: -100%;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 10px 12px 0px rgba(34, 60, 80, 0.2);
  }

  &__drop-container {
    display: flex;

    padding: 20px 0px;
  }

  &__drop-list {
    width: 25%;
  }

  &__drop-products {
    width: 70%;
    padding-left: 20px;
  }
}

.list {
  width: 100%;
  &__element {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid black;

    span {
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #4e8127;
      }
    }
    &:first-child {
      border-top: 1px solid black;
    }
  }
}

.products {
  &__card {
  }

  &__card-title {
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #000000;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #4e8127;
      }
    }
  }

  &__card-submenu-wrap {
  }

  &__card-submenu-column {
    display: flex;
    flex-direction: column;
  }

  &__card-submenu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #4e8127;
    }
  }

  &__card-element {
    display: flex;
    margin-bottom: 10px;
  }
}

.header--visible {
  opacity: 1;
}

.header--hidden {
  opacity: 0;
}

@media (max-width: 882px) {
  .menu__icon {
    z-index: 30;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #000000;
  }
  .header__verification {
    margin-right: 20px;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__body {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 100px 30px 30px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .header__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 73px;
    background-color: #ffffff;
  }

  .header__body.active {
    left: 0;
  }
}

body.lock {
  overflow: hidden;
}

.header__profile {
  margin-right: 32px;
}

.header__profile-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  transition: color 0.3s ease;
  &:hover {
    color: #4e8127;
  }
}
