.header {
  border-bottom: 1px solid black;
  &__container {
    display: flex;
    justify-content: space-between;
    min-height: 73px;
    align-items: center;
  }

  &__left {
    height: 73px;
    display: flex;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  &__logo {
    font-size: 30px;
    font-weight: 700;
  }

  &__filters {
    display: flex;
    align-items: center;


    p {
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
      }
    }
    svg {
      margin: 0px 12px;
      path {
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__menu {
  }

  &__verification {
    display: flex;
  }

  &__verification-reg {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000000;

      border: 1px solid #4E8127;
      padding: 8px 20px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #d9ffbb;
      }
    }
  }

  &__verification-login {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;

      padding: 8px 20px;
      border-radius: 4px;
      background-color: #4E8127;

      transition: background-color 0.3s ease;
      &:hover {
        background-color: #8cb170;
      }
    }
    margin: 0px 16px;
  }

  &__basket {
    img {
      display: block;
    }
  }
}

.menu {
  &__list {
    display: flex;
    li {
      margin-right: 32px;
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        transition: color 0.3s ease;
        &:hover {
          color: #4E8127;
        }
      }
    }
  }
}

.modal {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
  }

  &__list {
  }

  &__list-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    label {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      height: 40px;
      padding-left: 12px;
      border: 1px solid black;
      transition: box-shadow 0.3s ease-in-out;
      &:hover {
        box-shadow: 12px -2px 25px -7px rgba(34, 60, 80, 0.6);
      }
    }

    button {
      width: 100%;
      height: 40px;

      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;
      background-color: #4E8127;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #89aa70;
      }
    }
  }

  &__warning {
    word-wrap: break-word;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      a {
        color: #4E8127;
        text-decoration: underline;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: #4E8127;
        }
      }
    }
  }
}
.header__left:hover .header__wrapper {
  background-color: #4E8127;
  
}
.header__left:hover .header__logo{
  color:#ffffff;
}
.header__left:hover .header__filters svg path {
  fill: #ffffff;
}
.header__filters-link {
  transition: all .3s ease-in-out;
}
.header__logo{
  transition: all .3s ease-in-out;
}
.header__left:hover .header__filters .header__filters-link {
  color: #ffffff;
}
.header__left:hover .menu__drop {
  left: 0;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.menu {
  &__drop {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    left: -100%;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 10px 12px 0px rgba(34, 60, 80, 0.2);
  }

  &__drop-container {
    display: flex;

    padding: 20px 0px;
  }

  &__drop-list {
    width: 25%;
  }

  &__drop-products {
    width: 70%;
    padding-left: 20px;
  }
}

.list {
  width: 100%;
  &__element {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid black;

    span {
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #4E8127;
      }
    }
    &:first-child {
      border-top: 1px solid black;
    }
  }
}

.products {
  &__card {
  }

  &__card-title {
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #000000;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #4E8127;
      }
    }
  }

  &__card-submenu-wrap {
  }

  &__card-submenu-column {
    display: flex;
    flex-direction: column;
  }

  &__card-submenu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #4E8127;
    }
  }

  &__card-element {
    display: flex;
    margin-bottom: 10px;
  }
}
