.header {
  border-bottom: 1px solid black;
  &__container {
    display: flex;
    justify-content: space-between;
    min-height: 73px;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;

    border: 1px solid black;
    padding: 12px 24px;
    border-radius: 4px;
  }

  &__logo {
    font-size: 30px;
    font-weight: 700;
  }

  &__filters {
    display: flex;
    align-items: center;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
    }
    img {
      margin: 0px 12px;
    }
  }

  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__menu {
  }

  &__verification {
    display: flex;
  }

  &__verification-reg {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000000;

      border: 1px solid #812727;
      padding: 8px 20px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #fcd6d6;
      }
    }
  }

  &__verification-login {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;

      padding: 8px 20px;
      border-radius: 4px;
      background-color: #812727;

      transition: background-color 0.3s ease;
      &:hover {
        background-color: #a53e3e;
      }
    }
    margin: 0px 16px;
  }

  &__basket {
    img {
      display: block;
    }
  }
}

.menu {
  &__list {
    display: flex;
    li {
      margin-right: 32px;
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        transition: color 0.3s ease;
        &:hover {
          color: #a53e3e;
        }
      }
    }
  }
}

.modal {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
  }

  &__list {
  }

  &__list-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    label {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      height: 40px;
      padding-left: 12px;
      border: 1px solid black;
      transition: box-shadow .3s ease-in-out;
      &:hover{
        box-shadow: 12px -2px 25px -7px rgba(34, 60, 80, 0.6);
      }
    }

    button {
      width: 100%;
      height: 40px;

      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;
      background-color: #812727;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #914545;
      }
    }
  }

  &__warning {
    word-wrap: break-word;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      a {
        color: #812727;
        text-decoration: underline;
        transition: color .3s ease-in-out;
        &:hover{
          color: #bb6363;
        }
      }
    }
  }
}
