


.main {
  &__basket-text {
   
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
  }
  &__basket-return {
	 margin: 20px 0px;
    a {
      display: inline-block;
      color: #ffffff;
      padding: 15px 10px;
      border-radius: 5px;
      background-color: #4e8127;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;

      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #7ea75f;
      }
    }
  }
}